# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
packages/**/dist
packages/**/node_modules

# don't lint coverage output or demos or docs
coverage
demos
docs


# Root folder files
commitlint.config.js
exit-if-no-staged.js

# Templates
templates/*

# other tooling
scripts
support