<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>
  <!--script src="https://unpkg.com/@esri/arcgis-rest-request"></script>
  <script src="https://unpkg.com/@esri/arcgis-rest-auth"></script-->
  <script src="/build/mycomponent.js"></script>
</head>
<body>
    <arcgis-hub-login
      clientid="GflUDcee80ykvalv"
      enterpriseorg = "https://cityx.maps.arcgis.com/sharing/rest"
      communityorg = "https://cityxcommunity.maps.arcgis.com/sharing/rest">
    </arcgis-hub-login>
</body>
<script>
  document.addEventListener('eventArcGISLogin', function (e) {
      console.log(e);
    });
</script>
</html>
